@using Model.GameModels


@model IEnumerable<PlayRoom>
<div class="container">
</div>
<div class="container row" id="room-list">
    <div class="col">
        <a asp-action="Play" asp-route-roomName="@User.Identity!.Name" class="btn btn-primary" id="create-room">Create a room</a>
    </div>
</div>

<table class="table table-light table-hover">
    <tr>
        <th scope="col">Id Room</th>
        <th scope="col">Room Name</th>
        <th scope="col">Current Players</th>
        <th scope="col">Status</th>
    </tr>
    <tbody>
        @foreach (var room in Model)
        {
            <tr>
                <th scope="row">@room.RoomName</th>
                <td>@room.RoomName</td>
                <td>
                    <span>@room.GameUsers.Count()/@room.RoomMax</span>
                </td>
                <td>
                    @if (room.GameUsers.Any(user => user.UserName == User.Identity!.Name))
                    {
                        <a class="btn btn-danger leave-room" room="@room.RoomName">Leave</a>
                    }
                    else if (room.GameUsers.Count() < room.RoomMax)
                    {
                        <a asp-action="Play" asp-route-roomName="@room.RoomName" class="btn btn-success join-room" room="@room.RoomName">Join</a>
                    }
                </td>

            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        const roomList = document.getElementById("room-list");

        const createRoomButton = document.getElementById("create-room");
        const leaveRoomButton = document.querySelectorAll(".leave-room");
        const joinRoomButton = document.querySelectorAll(".join-room");


        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/hubs/game")
            .configureLogging(signalR.LogLevel.Information)
            .build();
        // Catch addRoom event
        connection.on("addRoom", () => {
            location.reload();
        });
        connection.on("leaveRoom", () => {
            location.reload();
        });
        connection.start()
            .then(() => console.log("Connected!"))
            .catch(console.error);

        createRoomButton.addEventListener("click", event => {
            event.preventDefault();
            connection.invoke("RoomCreate");
        });

        leaveRoomButton.forEach((button) => {
            button.addEventListener("click", () => {
                const roomName = button.getAttribute("room");
                connection.invoke("RoomLeave", roomName);
            });
        })

        joinRoomButton.forEach((button) => {
            button.addEventListener("click", () => {
                const roomName = button.getAttribute("room");
                connection.invoke("RoomJoin", roomName);
            });
        });
    </script>
}