@using Model.ActionModels
@model RankingModel
<body>
    <div class="container">
        <h1 class="text-center">CHART RANKING</h1>
        <p class="text-muted text-center">Caro Online - @DateTime.Now.Date.ToString()</p>
        <div class="d-flex my-2">
            <input class="form-control me-sm-2" type="text" placeholder="Search Name">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="bi bi-search"></i></button>
            <div class="btn-group mx-1" role="group" aria-label="Button group with nested dropdown">
                <button type="button" class="btn btn-primary">Sort</button>
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="">
                        <a class="dropdown-item" href="#">Win</a>
                        <a class="dropdown-item" href="#">ToTalTime</a>
                        <a class="dropdown-item" href="#">Score</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="table1day" role="tabpanel" aria-labelledby="table1day-tab">
                @if (User!.Identity!.IsAuthenticated && Model.PlayerRank.Level != 0)
                {
                    <div class="card text-white bg-info mb-3 my-2" style="max-width: 100rem;">
                        <div class="card-header fs-1">Your Achievements Today</div>
                        <div class="card-body">
                            <div class="d-flex my-2">
                                <div class="row justify-content-between container-fluid">
                                    <p class="card-text col-11 fs-5">InGameName: @Model.PlayerRank.InGameName</p>
                                    <button class="btn btn-primary btn-lg col-1"><i class="bi bi-share-fill"></i></button>
                                    <p class="card-text fs-5">Level: @Model.PlayerRank.Level</p>
                                </div>
                            </div>
                        </div>
                        <table class="table table-info text-center">
                            <thread>
                                <tr class="table-active fs-5">
                                    <th>Top</th>
                                    <th>Win/Draw/Lose</th>
                                    <th>Score</th>
                                </tr>
                            </thread>
                            <tbody>
                                <tr class="fs-1">
                                    <td>@Model.PlayerRank.Top</td>
                                    <td>@Model.PlayerRank.Win/@Model.PlayerRank.Draw/@Model.PlayerRank.Lose</td>
                                    <td>@Model.PlayerRank.Score</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                }

                <table id="table1days" class="table table-dark table-hover">
                    <thread>
                        <tr class="table-active">
                            <th>Top</th>
                            <th>InGameName</th>
                            <th>Win/Draw/Lose</th>
                            <th>Score</th>
                        </tr>
                    </thread>
                    <tbody>
                        @foreach (var item in Model.AllPlayerRanks.Items)
                        {
                            <tr>
                                <td>@item.Top</td>
                                <td>@item.InGameName</td>
                                <td>@item.Win/@item.Draw/@item.Lose</td>
                                <td>@item.Score</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div>
                    <ul class="pagination justify-content-center">
                        @if (Model.AllPlayerRanks.HasPrevious) {
                            <li class="page-item">
                                <a asp-action="Ranking" class="page-link" asp-route-pageIndex="@(@Model.AllPlayerRanks.PageIndex - 1)">&laquo;</a>
                            </li>
                        }
                        @for (int i = 1; i <= Model.AllPlayerRanks.PageCount; i++)
                        {
                            <li class="page-item">
                                <a asp-action="Ranking" asp-route-pageIndex="@i" class="page-link">@i</a>
                            </li>
                        }
                        @if (Model.AllPlayerRanks.HasNext)
                        {
                            <li class="page-item">
                                <a asp-action="Ranking" class="page-link" asp-route-pageIndex="@(@Model.AllPlayerRanks.PageIndex + 1)">&raquo;</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>


            <div class="tab-pane fade" id="table30days" role="tabpanel" aria-labelledby="table30days-tab">
                @if (Model.PlayerRank.Top != 0)
                {
                    <div class="card text-white bg-info mb-3 my-2" style="max-width: 100rem;">
                        <div class="card-header fs-1">Your Achievements in 30 days</div>
                        <div class="card-body">
                            <div class="d-flex my-2">
                                <div class="row justify-content-between container-fluid">
                                    <p class="card-text col-11 fs-5">InGameName: @Model.PlayerRank.InGameName</p>
                                    <button class="btn btn-primary btn-lg col-1"><i class="bi bi-share-fill"></i></button>
                                    <p class="card-text fs-5">Level: @Model.PlayerRank.Level</p>
                                </div>
                            </div>
                        </div>
                        <table class="table table-info text-center">
                            <thread>
                                <tr class="table-active fs-5">
                                    <th>Top</th>
                                    <th>Win/Draw/Lose</th>
                                    <th>Score</th>
                                </tr>
                            </thread>
                            <tbody>
                                <tr class="fs-1">
                                    <td>@Model.PlayerRank.Top</td>
                                    <td>@Model.PlayerRank.Win/@Model.PlayerRank.Draw/@Model.PlayerRank.Lose</td>
                                    <td>@Model.PlayerRank.Score</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                }



        </div>
    </div>
</body>